.chart {
	font-size: 12px;
}
 
.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
 
.bar {
	fill: #33b5e5;
	cursor: pointer;
}
 
.bar-pain {
	fill: #FF0000;
	cursor: pointer;
}
 
.bar-resting {
	fill: #669900;
	cursor: pointer;
}
 
.bar-jogging {
	fill: #800080;
	cursor: pointer;
}
 
.bar-physio {
	fill: #ffbb33;
	cursor: pointer;
}